body{
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 1200px;
    margin:0 auto;
}


.main-header{
    height: 541px;
    width: 1200px;
    color: black;
    text-align: center;
    line-height: 20px;
    background: rgba(254,254,254,1);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );
}

.header{
    background-color: black;
    height: 41px;
    width: 1200px;
    padding: 10px;

}

.header-logo{
    width: 200px;
    float: left;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 21.37px;
    text-align: left;
    margin-left: 50px;
}

.tooltip{
    height: 100px;
    width: 100px;
    background-color: black;
    display: flex;
    margin-top: 50px;
    padding-top: 10px;
    visibility: hidden;
}

.tooltip>ul>li{
    margin: 5px;
}
.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}

.slider ul{
    list-style: none;
}

.slider li{
    display: none;
}

.slider .visibleBlock{
    display: inline-block;
}


.buttonLogo{
    font-size: 40px;
    font-weight: 500;

}

.logoColor{
    color: #24baa0;
    font-weight: 700;
}

.main-menu{
    width: 300px;
    float: right;
    color: white;
}
.menu {
    float: left;
    margin-right: 35px;

    font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 700;
    line-height: 21.37px;/* Przybliżenie (wynika z podstawienia czcionki) */
    text-align: left;
 }

.menu >a{
    color:  #ffffff;
    text-decoration: none;
}

.header-content{
     width: 1200px;
    height: 500px;
}

.contentContainer{
    display: inline-block;

}

.header-image{
    width: 470px;
    height: 400px;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.header-button{
    width: 400px;
    height: 400px;
    float: left;
    margin-left:10px;
}

.style-button {
    display: block;
    background-color: #24baa0;
    width: 264px;
    height: 53px;
    font-size: 20px;
    text-decoration: none;
    padding-left: 5px;
    padding-top: 17px;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
    margin-left: 75px;
}


.textButton{
    display: inline-block;
    height: 79px;
    width: 421px;
    padding-top: 50px;
}


.product-section{
    width: 1200px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    padding-top: 30px;
}

.product {
    width: 100%;
    position: absolute;
    padding-left: 55px;
}

.productleft{
    float: left;
    width: 330px;
    height: 225px;
    background-image: url("../images/box1_img.jpg");
    margin-right: 15px;
    margin-left: 15px;
}

.productStyle {
    display: block;
    height: 62px;
    width: 355px;
    background-color: white;
    opacity: 0.5;
    color: black;
    margin-top: 150px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    line-height: 20.371px;
    padding-top: 15px;
    padding-left: 15px;
}

.productUnderline{
    display: block;
    background-color:  #27c7ab;
    width: 138px;
    height: 7px;
}
.productcenter{
    float: left;
    width: 329px;
    height: 225px;
    background-image: url("../images/box2_img.jpg");
    margin-right: 15px;
    margin-left: 15px;
}

.productright{
    float: left;
    width: 338px;
    height: 252px;
    margin-right: 15px;
    margin-left: 15px;
    color:  #565656;
    font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 400;
    line-height: 20.371px;/* Przybliżenie (wynika z podstawienia czcionki) */
    text-align: left;
}

.productContent{
    color:  #000000;
    font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 600;
    line-height: 20.371px;/* Przybliżenie (wynika z podstawienia czcionki) */
    text-align: left;
    opacity: 1;
}

.price-section{
    width: 1200px;
    height: 725px;
    background-color: #ededee;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 50px;



}

.priceBanner{
    color:  #575757;
    font-size: 22px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 500;
    line-height: 20.371px;/* Przybliżenie (wynika z podstawienia czcionki) */
    text-align: left;
    margin-bottom: 70px;
    margin-left: 10px;
}

.bannerUnderline{
    display: block;
    background-color:  #27c7ab;
    width: 320px;
    height: 8px;
    margin-top: 5px;
    margin-left: 5px;
}


.price-basic{
    width: 326px;
    height: 497px;
    background-color: #f6f6f6;
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    border: solid;
    border-color: #d3d2d2;
}

.innerCircle{
    width: 57px;
    height: 57px;
    background-color: #fcfcfc;
    border: solid;
    border-color: #d3d2d2;
    border-radius: 50%;
    margin-top: -40px;
    margin-left: 130px;
    position: absolute;
}
.circleInCircle{
    border-radius: 50%;
    background-color:  #c2c2c2;
    width: 27px;
    height: 27px;
    margin-left: 12px;
    margin-top: 12px;
}

.middleinC{
    background-color:  #00d5ac;
    border-color:  #00d5ac;
}

.middleCircleinC{
    background-color: #f6f6f6;
}


.planPrice{
    margin-top: 25px;
    margin-left: 85px;
    font-family: 'Myriad Pro';
    color:  #27c7ab;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
}
.planPriceRight{
    margin-top: 25px;
    margin-left: 60px;
    font-family: 'Myriad Pro';
    color:  #27c7ab;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
}

.planPriceMiddle{
    margin-top: 25px;
    margin-left: 60px;
    color:  #ffffff;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
}

.priceCircle{
    display: block;
    width: 131px;
    height: 131px;
    background-color: #fcfcfc;
    border: solid;
    border-color: #d3d2d2;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 95px;
    padding-right: 15px;
}
.priceCircle2{
    display: block;
    width: 131px;
    height: 131px;
    background-color: #fcfcfc;
    border: solid;
    border-color: #00d5ac;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 95px;

}

.priceValue{
    color:  #c2c2c2;
    font-size: 45px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 700;
    line-height: 20px;/* Przybliżenie (wynika z podstawienia czcionki) */
    text-align: right;
    margin-top: 40px;
    margin-right: 10px;
}

.priceValue2{
    color:  #00cdab;
    font-size: 45px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 700;
    line-height: 20px;/* Przybliżenie (wynika z podstawienia czcionki) */
    text-align: right;
    margin-top: 40px;
    margin-right: 25px;
}
.stylePriceButton{
    display: block;
    text-decoration: none;
    border-radius: 8px;
    background-color:  #27c7ab;
    width: 122px;
    height: 34px;
    text-align: center;
    padding-top: 7px;
    margin-left: 97px;
    color:  #ffffff;
    font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 500;
    line-height: 20px;/* Przybliżenie (wynika z podstawienia czcionki) */
}
.left {
margin-top: 10px;
}

.right{
    margin-top: 100px;
}

.middle{
    background-color: #ededee;
    color: #27c7ab;
    margin-top: 55px;

;
}
.valueSUP2{
    color:  #00cdab;
    font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 700;
}

.underValue2 {
    color: #00cdab;
    font-size: 16px; /* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 700;
    margin-top: 10px;
}
.underValue{
    color:  #c6c6c6;
    font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 700;
    margin-top: 10px;
}

.valueSUP{
    color:  #c2c2c2;
    font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 700;
}


.blockMiddle{
    margin-top: 50px;
    padding: 3px;
    text-align: center;
}

.blocks{
    margin-top: 50px;
    text-align: center;
}

.priceBlock{
    width: 320px;
    height: 46px;
    background-color: #e1e1e1;
    color:  #939393;
    font-size: 24px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 400;
    padding: 10px;
}

.priceBlockMiddle{
    width: 320px;
    height: 46px;
    background-color: #fcfcfc;
    color:  #939393;
    font-size: 24px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 400;
    padding: 10px;
}

.priceBlockSecondMiddle{

    width: 320px;
    height: 46px;
    background-color: #ededee;
    color:  #939393;
    font-size: 24px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 400;
    padding: 10px;
}

.priceBlockSecond{
    width: 320px;
    height: 46px;
    background-color: #ededee;
    color:  #939393;
    font-size: 24px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 400;
    padding: 10px;
}

.price-standard{
    width: 326px;
    height: 497px;
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    background-color: #00cdab;
}

.price-advance{
    width: 326px;
    height: 497px;
    background-color: #f6f6f6;
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    border: solid;
    border-color: #d3d2d2;
}


.form-section{
    width: 1200px;
    height: 750px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 50px;

}


.form-object{
    width: 650px;
    height: 350px;
    float: left;
}

.form-submit{
    width: 500px;
    height: 350px;
    float: left;
    padding-left: 70px;
}

.formImage{
    padding-left: 30px;
    margin-bottom: 30px;
}

.formBannerUnderline{
    display: block;
    background-color:  #27c7ab;
    width: 320px;
    height: 8px;
    margin-top: 10px;
}

.formBanner{
    color:  #575757;
    font-size: 22px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 500;
    line-height: 20.371px;/* Przybliżenie (wynika z podstawienia czcionki) */
    text-align: left;
    margin-bottom: 40px;
    margin-left: 10px;

}

.personalData{
    width: 350px;
    height: 42px;
    color:  #aeaeae;
    font-size: 20px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 300;
    line-height: 22.37px;/* Przybliżenie (wynika z podstawienia czcionki) */
}

.formOK{
    float: left;
}

.submit-button {
    display:block;
    background-color:  #24baa0;
    width: 343px;
    height: 71px;
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    border-radius: 5px;
    text-decoration: none;
    color:  #ffffff;
    font-size: 34px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 700;
    line-height: 20.371px;/* Przybliżenie (wynika z podstawienia czcionki) */

}

.footer-section{
    height: 50px;
    width: 1200px;
}

.footer-float{
    float:right;
}

.form-message {
    width: 631px;
    height: 187px;
    margin-top: 25px;
    float: left;
}


.form-name{
    width: 633px;
    height: 64px;
    float: left;
    margin-top: 25px;
}
.form-email{
    width: 631px;
    height: 64px;
    float: left;
    margin-top: 25px;
}

.styleFooter{
    color:  #9b9b9b;
    font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 500;
    line-height: 21.37px;/* Przybliżenie (wynika z podstawienia czcionki) */
    margin-left: 60px;
}

.sitOnFooter{
    color:  #9b9b9b;
    font-size: 20px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 600;
    line-height: 21.37px;/* Przybliżenie (wynika z podstawienia czcionki) */
    text-align: left;
}

.footerImages{
    display: block;
    margin-right: 70px;
    margin-bottom: 50px;
}

.arrow {
    border: solid #24baa0;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    height: 30px;
    width: 30px;
    margin-top: 230px;
    position: absolute;
}

.rightArrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 420px;

}

.leftArrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: -700px;
}



.application {
    background-color: #f9f9f9;
    padding:30px 0;
}
.application h3 {
    color: #575757;
    font-size: 18px;
}

.application header.align_right{
    text-align: right;
}


.inline {
    display:inline-block;
    width:300px;
    /*padding:14px; */
    vertical-align: top;
    margin-left: 45px;
    margin-right: 45px;
}


.form {
    margin-top: 0px;
}
.drop_down_list {
    border:1px solid #8de0d2;
    width: 280px;
    height:38px;
    background-color: white;
    margin-top:22px;
    /*padding: 8px 12px; */
    position: relative;
}

.list_label {
    font-size: 30px;
    color: #e2e2e2;
    font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}


.checkbox {
    position: relative;
    padding: 30px 30px 30px 0;
}
.checkbox input {
    display: block;
    opacity: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    cursor: pointer;
}

.checkbox label {
    display: block;
    padding-left: 65px;
    position: relative;
    font-size: 28px;
    color: #cecece;
    line-height: 120%;
    padding-top: 10px;
    cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
    border: 1px solid #27c7ab;
    content: "";
    display: block;
    left: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    top: 0;
}
.checkbox label::after {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
    display: none;
}

.checkbox input:checked + label::after {
    display: block;
}


.active {
    background: url('../images/form_ok.jpg');
    width: 48px;
    height: 40px;

}
.inline_text {
    display: inline-block;
    width: 228px;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 15px;
    color: #aeaeae;
}
.image_part img{
    margin-top: 110px;
    margin-left: 38px;
}


.application .green_bell {
    background-color: #24baa0;
    width: 200px;
    height: 6px;
    display: inline-block;
    margin: 5px 0 5px 0;
}

.summary_panel {
    background-color: white;
    width:100%;
    height:195px;
    padding:10px;

}

.application .green_button {
    background-color: #27c7ab;
    color: white;
    text-align:center;
    text-transform: uppercase;
    width: 200px;
    padding: 10px 30px;
    font-size: 24px;
    display: inline-block;
    font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
    margin-top: 50px;
    margin-left: 29px;
    border-radius: 8px;
    text-decoration: none;
}
.panel_left {
    display: inline-block;
    width: 185px;
    vertical-align: top;
    padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
}

.panel_right {
    display: inline-block;
    width: 100px;
    border-left:1px solid #e7e7e7;
    text-align: right;
    vertical-align: top;
    padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
    height: 135px;
}

.panel_left h4 , .panel_right h4{
    color: #24baa0;
    font-size: 23px;
}

.panel_left span{
    margin-top:10px;
    font-size: 22px;
    color: #5b5a5a;
    display: block;
}

.panel_right span {
    display: block;
    font-size: 22px;
    color: #24baa0;
}
.sum_label{
    display: inline-block;
    width: 185px;
    margin-top: 10px;
    font-size: 22px;
    color: #5b5a5a;
}

.sum {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-top: 10px;
    font-size: 22px;
    color: #24baa0;
}

.list_arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #24baa0;
    display:block;
    position: absolute;
    right: 14px;
    top: 20px;
    cursor: pointer;
}

.list_panel {
    background-color: white;
    border: 1px solid #ccc;
    width: 288px;
    padding-left: 15px;
    padding-bottom: 10px;
    list-style: none;
    margin: 0;
    left: 0px;
    z-index: 2;
    position: absolute;
    top: 54px;
    display:none;
}

.visiblePanel{
    display: inline-block;
}

.list_panel li {
    margin-top:10px;
    cursor: pointer;
    color: #585858;
}

.title {
    height: 30px;
}

